@CHARSET "ISO-8859-1";
.navbar-header
{
	width:240px;
	float: left;
    padding: 15px;
    text-align: center;
  
}
a
{
	color:black;
}
.navbar-brand 
{

	height:15%;
}

.navbar-nav li a 
{
 padding-left: 20px; 
    
}
.navbar
{
	background-color: whitesmoke;
}
#imgsize
{
	margin-top:-20px;
	margin-bottom: 40px;
}
.icon-bar
{
	background-color:black;
}
@media only screen and (min-width: 745px) and (max-width:1015px)  
{
    .flex-caption
    {
        width:100%;
    }
}