﻿<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-1">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
