ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    border: 1px ridge #829AFC;
}
li
{
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #829AFC;
}

.active {
    background-color:#829AFC;
}
.link
{
    float: right;
    margin-right: 20px;


}
.about{

    margin-top: 30px;
    margin-bottom: 10%;
    width: 95%;
    height:300px;
    padding:40px;
}

.about h1
{
  text-align: center;
}
.media
{
    text-align: center;
    margin-top: 10px;
    width: 95%;
    height:450px;
    padding:40px;

}
.video
{
    margin-top: 60px;
    width: 45%;
    height:360px;
    float: left;
    margin-left: 50px;
}
.audio
{
    margin-top: 50px;
    width: 45%;
    height:360px;
    float: left;
    margin-left: 15px;
}

audio
{
  margin-top: 130px;
}
.circle
{
    stroke:#F88706
    stroke-width:3;
    fill:#F79C35;
}
.polysvg
{
    fill:#ADF9FF;
    stroke:black;
    stroke-width:3;
}
.Canvas
{
    margin-top: 50px;
    width: 95%;
    height:430px;
    padding:40px;
    text-align: center;

}
.hola
{
  width: 45%;
  height:240px;
  float: left;
  margin-left: 110px;
}
.clear
{
    clear:both;
}
.head
{
   padding-left: 40%;
   color: #f48942;
}
header
{
  text-align: center;
  font-family: cursive;
  color: blue;
  margin-top: 20px;
  font-weight: normal;
  text-shadow: 2px 1px #2810A2;
  font-size: 30px;
}
a
{
  text-decoration: none;
  color: blue;
}

body
{
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
form
{
  margin-left: 35%;
  margin-top: 40px;
  font-size: 15px;
}

.field
{
  width: 75%;
  height: 20px;
  font-size: 15px;
  border-radius: 3px;
}
button
{
  background-color:#1A44EF;
  width: 60%;
  height: 30px;
  font-size: 15px;
  text-decoration: none;
}
button:hover
{
  width:61%;
  height: 32px;
  transition: width;
}
form .single
{
  font-size: 10px;
  height: -20px;
}
.creating a
{
  text-decoration: none;
  margin-left: 10px;
}
.details
{
  border: 2px #6DF3FC groove;
  height: 250px;
  width: 320px;
  padding: 20px 10px 0px 80px;
  border-radius: 15px;
}
.regdetails
{
  border: 2px #6DF3FC groove;
  height: 500px;
  width: 35%;
  padding: 20px 10px 0px 80px;
  border-radius: 15px;
}
.home
{
  text-align: center;
  margin-left: 600px;
  width: 100px;
  margin-top: 40px;
}
.headin
{
  color:#260D3A;
  margin-left: 43%;
  margin-top: 50px;
  text-decoration: underline;
}
@media screen and (max-width: 400px)
{
  .about{

      margin-top: 1%;
      margin-bottom: 110%;
      width: 300px;
      height:300px;
      padding:40px;
      text-align: justify;

  }

  .about h1
  {
    text-align: center;
  }
  .media
  {
      text-align: center;
      margin-top: 0%;
      width: 380px;
      height:700px;
      padding:0px;
  }
  .video
  {
      margin-top: 0px;
      width: 380px;
      height:300px;
      float: left;
      margin-left: 1%;
  }
  video
  {
      width: 300px;
      height: 205px;
  }
  .audio
  {

      width: 380px;
      height:300px;
      float: left;
      margin-left: 1px;
  }

  audio
  {

    width: 300px;
  }
  .circle
  {
      stroke:#F88706
      stroke-width:3;
      fill:#F79C35;
  }
  .polysvg
  {
      fill:#ADF9FF;
      stroke:black;
      stroke-width:3;
  }
  .Canvas
  {
      margin-top: 50px;
      width: 380px;
      height:430px;
      padding:10px;
      text-align: center;

  }
  .hola
  {
    width: 380px;
    height:240px;
    float: left;
    margin-left: 11px;
  }

}
