th, td
{
  padding: 15px;
  text-align: left;
}
table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
}
.decoration
{
  margin: 0px auto;
  margin-top: 100px;
}
h1
{
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}
h1 a
{
  text-decoration: none;
  color: blue;
}
body
{
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.extra
{
  margin-top: 80px;
}
