/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2017, 4:39:21 PM
    Author     : piyush.tiwari
*/

blockquote {
  margin: 0rem;
}

body {
  font-family: 'Vollkorn', serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0px auto;
}

.logout
{
  background: azure;
  border: none;
  color: black;
  letter-spacing: 1px;
  padding: 5px 15px;  
  float: right;
}

.logout:hover
{
    background: white;
}

.page-header {
  background: #C0343D;
  color: #fff;
  padding: 3rem;
  text-align: center;
}

.page-header h1 
{
  font-weight: normal;
  font-size: 2.5rem;
  margin-top: 0rem;
}

.page-header p {
  font-size: 1.5rem;
}

.backcolor
{
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;
}

.page-content {
  margin: 0px auto;
  max-width: 40rem;
  padding: 2rem 1rem;
}

.quote-content {
  font-size: 1.8rem;
  margin-bottom: 1.25rem;
}

.quote-citation {
  border-top: 1px solid #e8e8e8;
  display: block;
  font-size: 1.5rem;
  padding-top: 1.25rem;
  text-align: center;
}

.quote-author {
  font-style: normal;
  margin-left: 10px;
}

.quote-author:before {
  content: "\2022";
  margin-right: 10px;
}

.quote-actions 
{
  margin-bottom: 2rem;  
}

.next 
{
  transition: all 0.2s ease-in-out;
  background: #C0343D;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 15px;
  text-transform: uppercase;
  overflow: visible;
  visibility: hidden;
  position: relative;
}

.next:hover {
  background: #94282f;
}

.next:active {
  background: #802329;
}

.next:focus {
  outline: 2px dotted #2B8EA5;
}

.page-footer {
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 5rem;
  text-align: center;
}
@media screen and (max-width: 650px)
{
    .quote-actions 
    {
      margin-bottom: 2rem; 
    }
}

@media screen and (max-width: 550px)
{
    .quote-actions 
    {
      margin-bottom: 2rem; 
      margin-left: -3rem;
    }
}

@media screen and (max-width: 450px)
{
    .quote-actions 
    {
      margin-bottom: 2rem; 
      margin-left: -7rem;
    }
}

@media screen and (max-width: 370px)
{
    .quote-actions 
    {
      margin-bottom: 2rem; 
      margin-left: -9rem;
    }
}
@media screen and (max-width: 320px)
{
    .quote-actions 
    {
      margin-bottom: 2rem; 
      margin-left: -11rem;
    }
}