/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 6:15:55 PM
    Author     : piyush.tiwari
*/

header
{
  text-align: center;
  font-family: cursive;
  margin-top: 5%;
  font-weight: normal;
  text-shadow: 2px 1px #6DF3FC;
  font-size: 30px;
}
a
{
  text-decoration: none;
  color: blue;
}

body
{
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form
{
  margin-left: 35%;
  margin-top: 5%;
  font-size: 15px;
}

.field
{
  width: 75%;
  height: 4%;
  font-size: 15px;
  border-radius: 3px;
}
.rbuttonsize
{
  background-color: #74c1bf;
  width: 60%;
  height: 6%;
  font-size: 15px;
  border-radius: 5px;
}
.rbuttonsize:hover
{
  width:61%;
  height: 7%;
  transition: width;
}

.lbuttonsize
{
  background-color: #74c1bf;
  width: 55%;
  height: 11%;
  font-size: 15px;
  border-radius: 5px;
}
.lbuttonsize:hover
{
  width:56%;
  height: 12%;
  transition: width;
}

.creating a:hover
{
  color: red; 
}
.details
{
  border: 2px #6DF3FC groove;
  height: 340px;
  width: 35%;
  padding: 20px 10px 0px 80px;
  border-radius: 15px;
}
.regdetails
{
  border: 2px #6DF3FC groove;
  height: 600px;
  width: 35%;
  padding: 50px 10px 0px 80px;
  border-radius: 15px;
}

.rheading
{
  color:#0a90aa;
  margin-left: 14%;
  margin-top: -13%;
  margin-bottom: 15%;
}
.lheading
{
  color:#0a90aa;
  margin-left: 14%;
  margin-top: -5%;
  margin-bottom: 12%;
}

.loginheight
{
    width: 75%;
    height:8%;
    font-size: 15px;
    border-radius: 3px;
}
.loginerror
{
    color: red;
}
