﻿<div class="col-md-6 col-md-offset-3 text-color">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            <a [routerLink]="['/users', user.id]">{{user.username}}</a> ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <!--<button type="button">show all information</button>-->
    <button type="button" [routerLink]="['/login']">Logout</button>
</div>