<div class="col-md-6 col-md-offset-3 text-color">
    <h1>Details({{currentUser.firstName}})</h1>
    <table *ngIf = "currentUser">
        <thead>
            <tr>
                <th colspan="2">
                    User Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>User Id</td>
                <td>{{ currentUser.id}}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ currentUser.username}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ currentUser.password}}</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ currentUser.firstName}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ currentUser.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>