.text-color
{
    color: whitesmoke;
}

table
{
    border-collapse: collapse;
    font-size: large;
    margin-top: 4rem;
    margin-left: 8rem;
    
}

td
{
    border: 1px solid white;
    padding: 1rem;
}

th 
{
    text-align: center;
}