﻿a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

body
{
    background-image: url("night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron
{
    background-image: url("night.jpg");
    background-size: cover;
    background-repeat: repeat;
}

@media screen and (max-width: 1200px)
{
    body 
    {
      background-color: black;
    }
}
